In [25]:
import cx_Oracle
import pandas as pd
import matplotlib.pyplot as pyplot
import numpy as np

import json
import requests
import os
import cursor

In [12]:
connection_prod = cx_Oracle.connect("T37133139/DOtieno#2023@DM03-SCAN.KRA.GOV:1521/DWDB")

#connection_dev = cx_Oracle.connect("_/_@_:_/_")

"""connection_iProd = psycopg2.connect(
    host = "_",
    port = "_",
    database = "_",
    user = "_",
    password = "_"
)


 connection_uri = "postgresql://k00013898:k00013898@10.160.7.12:6644/itax_prod" 

engine = create_engine(connection_uri)"""


#Create the Oracle Database connection URL
#connection_uri = f"oracle+cx_oracle://{username}:{password}@{host}:{port}/{service_name}"

'connection_iProd = psycopg2.connect(\n    host = "_",\n    port = "_",\n    database = "_",\n    user = "_",\n    password = "_"\n)\n\n\n connection_uri = "postgresql://k00013898:k00013898@10.160.7.12:6644/itax_prod" \n\nengine = create_engine(connection_uri)'

In [13]:
# Define the URL
url = "https://brs.ecitizen.go.ke/api/businesses?registration_number=C.112728"
username = "62982ca9a761e71d97627fe6dc89f96b"  # Replace with your actual username
password = "gejnixwq6zcks3yaxatogcl4wgbbkk2pkzlcmwhggjxxaag2hyfq===="   # Replace with your actual password

# Make a GET request to fetch the JSON data with authentication
response = requests.get(url, auth=(username, password))

# Check if the request was successful
if response.status_code == 200:
    # Load the JSON data
    data = response.json()

    # Define the file path
    file_path = 'data.json'

    # Store the JSON data in a file
    with open(file_path, 'w') as f:
        json.dump(data, f, indent=4)
        print(f"JSON data successfully stored in {file_path}")
else:
    print(f"Failed to fetch data from the URL. Status code: {response.status_code}")

JSON data successfully stored in data.json

In [14]:
# Load the JSON data from the file
with open('data.json', 'r') as file:
    brs = file.read()
    obj = json.loads(brs)

#convert json to dataframe
df = pd.DataFrame.from_dict(obj)
df['records'].shape
print(df)

                                             records  count
0  {'status': 'registered', 'registration_date': ...      1

In [30]:
import cx_Oracle  # Assuming you are using the cx_Oracle module

# Establish a connection to the database
connection = cx_Oracle.connect('T37133139', 'DOtieno#2023', 'DM03-SCAN.KRA.GOV:1521/DWDB')

# Create a cursor
cursor = connection.cursor()

for record in df['records']:
    status = record['status']
    registration_date = record['registration_date']
    postal_address = record['postal_address']
    physical_address = record['physical_address']
    phone_number = record['phone_number']
    kra_pin = record['kra_pin']
    email = record['email']
    business_name = record['business_name']

    # Oracle insertion query
    sql = f"""INSERT INTO JSON_UPDATES (status, registration_date, postal_address, physical_address,  phone_number, kra_pin, email, business_name)
             VALUES (:status, TO_DATE(:registration_date, 'DD Month YYYY'), :postal_address, :physical_address, :phone_number, :kra_pin, :email, :business_name)"""
    data = {
        'status': status,
        'registration_date': registration_date,
        'postal_address': postal_address,
        'physical_address': physical_address,
        'phone_number': phone_number,
        'kra_pin': kra_pin,
        'email': email,
        'business_name': business_name
    }

    # Execute the query
    cursor.execute(sql, data)

# Commit the changes
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()

print("Data inserted into the Oracle database.")

Data inserted into the Oracle database.